src/META-INF/wsdl/cfdi.dfacture.com/TimbradoSoap/ServiceFacturacion.svc.xsd_xsd3.xsd

<?xml version="1.0" encoding="utf-8"?><xs:schema elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/IntegracionesMexico.Timbrado" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.datacontract.org/2004/07/IntegracionesMexico.Timbrado"><xs:complexType name="RespuestaRegistrarAdquiriente"><xs:sequence><xs:element minOccurs="0" name="codigo" type="xs:int"/><xs:element minOccurs="0" name="mensaje" nillable="true" type="xs:string"/></xs:sequence></xs:complexType><xs:element name="RespuestaRegistrarAdquiriente" nillable="true" type="tns:RespuestaRegistrarAdquiriente"/></xs:schema>